@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F3F4F6;  /* Light Grey */
  --foreground: #111827;  /* Dark Text */
  --primary: #1D4ED8;     /* Dark Blue */
  --secondary: #2563EB;   /* Lighter Blue */
  --accent: #F59E0B;      /* Yellow */
  --textPrimary: #111827; /* Dark text */
  --textSecondary: #6B7280; /* Light text */
  --white: #F3F4F6;
  --font-family: "Host Grotesk", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3F4F6;  /* Light Grey */
    --foreground: #111827;  /* Dark Text */
  }
}

* {
  font-family: var(--font-family);
}

body {
  color: var(--background);
  background: var(--background);
  color: var(--textPrimary);
  font-family: var(--font-family);
}

/* Custom style for bullet lists */
.list-disc::before {
  content: "\2022"; 
  position: absolute;
  left: 16px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px; 
  color: #4A4A4A;
}



/* Custom style for numbered lists */
.numbered-list-container {
  counter-reset: block-counter;
}

.numbered-list-item {
  position: relative;
  counter-increment: block-counter;
  list-style: none;
}

.numbered-list-item::before {
  content: counter(block-counter) ". ";
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #4A4A4A;
}

.resetCounter {
  counter-reset: block-counter;
}



/* React Date Picker */
.react-datepicker {
  border-radius: 20px !important;
  border: 1px solid #e2e8f0 !important;
  background-color: #F9FAFC !important;
  font-family: var(--font-family) !important;
}

.react-datepicker__header {
  border-radius: 20px 20px 0 0 !important;
  border: 1px solid #e2e8f0 !important;
  background-color: #F1F5F9 !important;
  font-family: var(--font-family) !important;
}

.react-datepicker__day--selected {
  background-color: #007FFF !important;
  border-radius: 50% !important;
}

.react-datepicker__day--today {
  border: 1px dashed #e2e8f0 !important;
  font-weight: bold !important;
  border-radius: 50% !important;
}
