@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F3F4F6;  /* Light Grey */
  --foreground: #111827;  /* Dark Text */
  --primary: #1D4ED8;     /* Dark Blue */
  --secondary: #2563EB;   /* Lighter Blue */
  --accent: #F59E0B;      /* Yellow */
  --textPrimary: #111827; /* Dark text */
  --textSecondary: #6B7280; /* Light text */
  --white: #F3F4F6;
  --font-family: "Host Grotesk", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3F4F6;  /* Light Grey */
    --foreground: #111827;  /* Dark Text */
  }
}

* {
  font-family: var(--font-family);
}

body {
  color: var(--background);
  background: var(--background);
  color: var(--textPrimary);
  font-family: var(--font-family);
}
